body{
    width: 100vw;
    .main{
        width: 1280px;
        margin: auto;
    }
}
.detail{
    position: relative;
    height: 530px;
    .img{
        position: absolute;
        width: 334px;
        height: 355px;
        left: 65px;
        top: 58px;

        background: #F8F8F8;
        img{
            position: absolute;
            width: 220px;
            height: 156px;
            left: 57px;
            top: 109px;
        }
    }
    .name{
        position: absolute;
        // width: 196px;
        height: 36px;
        left: 527px;
        top: 67px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 36px;

        color: #000000;
    }
    .descript{
        position: absolute;
        width: 503px;
        height: 90px;
        left: 527px;
        top: 112px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        color: #140101;
    }
    .available{
        position: absolute;
        width: 162px;
        height: 58px;
        left: 527px;
        top: 202px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;

        color: #1ED90E;
    }
    .sizes{
        position: absolute;
        left: 526px;
        top: 250px;
        span{
            padding: 10px;
            background: #CCCCCC;
            margin-right: 21px;
        }
    }
    .money{
        position: absolute;
        width: 113px;
        height: 47px;
        left: 527px;
        top: 317px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;

        color: #FC0303;
    }
    .up{
        
        position: absolute;
        top: 370px;
        left: 527px;
        width: 50px;
        height: 50px;
        background: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
    }
    .num{
        position: absolute;
        width: 14px;
        height: 36px;
        left: 597px;
        top: 377px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;

        color: #000000;
    }
    .down{
        position: absolute;
        left: 636px;
        top: 370px;
        width: 50px;
        height: 50px;
        background: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
    }
    .add{
        position: absolute;
        width: 175px;
        height: 64px;
        left: 527px;
        top: 427px;
        background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
        padding-left: 24px;
        padding-top: 18px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        
        color: #FFF8F8;
    }
}
footer{
    position: relative;
    margin-top: 150px;
    width: 1280px;
    height: 242px;
img{
    width: 100%;
}
}